@tailwind base;
@tailwind components;
@tailwind utilities;


/* Thin Scrollbar */
::-webkit-scrollbar {
    width: 4px;  /* Adjust width */
    height: 4px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Make track invisible */
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent */
    border-radius: 10px; /* Rounded edges */
  }
  
  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  